<a href="https://colab.research.google.com/github/anoop-pm/ApiBank/blob/main/How_to_create_phonepe_pulse_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 7975, done.
remote: Counting objects: 100% (7975/7975), done.
remote: Compressing objects: 100% (6637/6637), done.
remote: Total 7975 (delta 2465), reused 6527 (delta 1031), pack-reused 0
Receiving objects: 100% (7975/7975), 2.11 MiB | 7.17 MiB/s, done.
Resolving deltas: 100% (2465/2465), done.

In [ ]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="/content/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

In [ ]:
Agg_Trans

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,mizoram,2022,1,Peer-to-peer payments,302740,1.691281e+09
1,mizoram,2022,1,Recharge & bill payments,190137,7.654106e+07
2,mizoram,2022,1,Merchant payments,109669,1.741577e+08
3,mizoram,2022,1,Financial Services,731,1.657575e+06
4,mizoram,2022,1,Others,1640,1.521511e+06
...,...,...,...,...,...,...
3589,dadra-&-nagar-haveli-&-daman-&-diu,2021,2,Peer-to-peer payments,843550,2.512913e+09
3590,dadra-&-nagar-haveli-&-daman-&-diu,2021,2,Merchant payments,802899,4.304875e+08
3591,dadra-&-nagar-haveli-&-daman-&-diu,2021,2,Recharge & bill payments,471136,2.087630e+08
3592,dadra-&-nagar-haveli-&-daman-&-diu,2021,2,Financial Services,1826,1.763793e+06
3593,dadra-&-nagar-haveli-&-daman-&-diu,2021,2,Others,5672,3.741204e+06